.lesson-container{
    background-color: #dadde7;
    height: 100vh;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;

}

@media (max-width: 600px) {
    .container {
        padding: 8px;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    .gridItem {
        flex-basis: 50%;
    }
}

@media (min-width: 961px) {
    .gridItem {
        flex-basis: 33.33%;
    }
}
.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
